<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserName</th>
      <th scope="col">Password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let content of listform;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{content.user}}</td>
      <td>{{content.password}}</td>
      <td>
          <a routerLink="/edit/{{content.id}}" class="btn btn-info">Edit</a> 

        <button class="btn btn-danger" (click)="deletedata(content.id)">delete</button>
        <button class="btn btn-success" (click)="cart(content.id)" >Add to Cart </button>

      </td>
    </tr>    
  </tbody>
</table>